
<!-- this is for garbage colllector -->




<!-- 
 ------------------------------------------- -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white border-right-0" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <div class="logo">F.W.<b style="color: #008080;">M.S.</b></div>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in request.path %}active{% endif %}" href="{% url 'index' %}?&user_email={{ request.user.email }}&user_role={{ request.user.role }}">
              <i class="ni ni-tv-2"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link {% if 'FC_profile' in request.path %}active{% endif %}" href="{% url 'FC_profile' request.user.email %}">
              <i class="ni ni-single-02"></i>
              <span class="nav-link-text">Manage Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'FC_view_fcrs' in request.path %}active{% endif %}" href="{% url 'FC_view_fcrs' request.user.email %}">
              <i class="ni ni-fat-add"></i>
              <span class="nav-link-text">Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'feedbacks' in request.path %}active{% endif %}" href="{% url 'feedbacks_byFC'  request.user.email %}">
              <i class="ni ni-single-copy-04"></i>
              <span class="nav-link-text">Feedbacks</span>
            </a>
          </li>
          <li class="nav-item mt-4">
            <a class="nav-link text-danger" href="{% url 'user_logout' %}">
              <i class="ni ni-user-run text-danger"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
      </div>
    </div>
  </div>
</nav>